<div class="content">
  <div class="back-to-result">
    <a href="/homepage">Вернуться в каталог</a>
  </div>
  <div class="details">
    <div class="details-image">
      <img src="{{image}}" alt="{{name}}" />
    </div>
    <div class="details-info">
      <ul>
        <li>
          <h1>{{name}}</h1>
        </li>
        <div class="rating">
          rating
        </div>
        <li>
          Цена: <strong>${{price}}</strong>
        </li>
        <li>
          Описание:
          <div>
            {{description}}
          </div>
        </li>
      </ul>
    </div>
    <div class="details-action">
      <ul>
        <li>
          Цена: ${{price}}
        </li>
        <li>
          <div class="status">
            status
          </div>
        </li>
        <li>
          <button id="add-button" class="fw add-button primary">Добавить в корзину</button>
        </li>
      </ul>
    </div>
  </div>
</div>