{{!-- <div class="product-card brand-card" href="/brand/products?name={{name}}" name="{{id}}">
  <div class="product-card-inner">

    <img class="product-card__img" src="{{image}}" alt="product img" />

    <div class="product-card-info">
      <div class="product-card-info-inner">
        <span class="product-card-info__name">{{name}}</span>
      </div>
    </div>
  </div>
</div> --}}
<div class="brand-card" href="/brand/products?name={{name}}">
  <a class="a3p5 e4j5 e4k8 e4k1 e4j7"><img
      src="{{image}}"
      class="e4j6 ui-p1"
      style="height:150px;"
    />
    <p class="e4k2 a6x3" style="color:#fff;"></p></a>
</div>