<div class="content">
  <div class="back-to-result">
    <a class="back-to-result__link" href="/homepage">Вернуться в каталог</a>
  </div>
  <div class="details">
    <div class="details__image">
      <img class="details__image-img" src="{{image}}" alt="{{name}}" />
    </div>
    <div class="details__info">
      <ul>
        <li>
          <h1>{{name}}</h1>
        </li>
        <div class="product__rating">
        </div>
        <li>
          Цена: <strong>${{price}}</strong>
        </li>
        <li>
          Описание:
          <div>
            {{description}}
          </div>
        </li>
      </ul>
    </div>
    <div class="details__action">
      <ul>
        <li>
          Цена: ${{price}}
        </li>
        <li>
          <div class="status">
            В наличии: {{count_in_stock}}
          </div>
        </li>
        <li>
          <button class="btn">Добавить в корзину</button>
        </li>
      </ul>
    </div>
  </div>
</div>