<a href="/product?id={{id}}" name="{{id}}" class="productImg-href">
  <div class="image">
    <img src="{{image}}" alt="{{name}}" />
  </div>
</a>
<div class="content">
  <h3><a href="/product?id={{id}}" name="{{id}}" class="productName-href">{{name}}</a></h3>
  <div class="rating">
    rating
  </div>
  <div class="price">${{price}}/-</div>
</div>