<div class="order-item__data">
  <div class="order-item__img img-plug">
    <a href="/product?id={{product_id}}">
      <img width="75" height="100" src="{{image}}" />
    </a>
  </div>
  <div class="order-item__desc">
    <a class="product-item__href" href="/product?id={{product_id}}"><h2 class="order-item__name">
        {{description}}
      </h2>
    </a>
  </div>
</div>
<div class="order-item__price">{{price}} ₽</div>