<div class="cart__image">
  <img class="cart__image-img" src="{{image}}" alt="${{name}}" />
</div>
<div class="cart__name">
  <div class="cart__link">
    <a href="/product?id={{id}}">
      {{name}}
    </a>
  </div>
  Кол-во:
  <select class="cart__qty-select" id="{{id}}">
  </select>
  <button class="delete-button-{{id}}" type="button" id="{{id}}">
    Удалить
  </button>
</div>
</div>
</div>
<div class="cart__price">
  ${{price}}
</div>