<div class="cart-image">
  <img src="{{image}}" alt="${{name}}" />
</div>
<div class="cart-name">
  <div>
    <a href="/product?id={{id}}">
      {{name}}
    </a>
  </div>
  <div>
    Кол-во:
    <select class="qty-select" id="{{id}}">
      <option value="1">1</option>
    </select>
    <button type="button" class="delete-button" id="{{id}}">
      Удалить
    </button>
  </div>
</div>
<div class="cart-price">
  ${{price}}
</div>