{{! <div class="layout-inner">
  <div class="cart">
    <div class="cart-list">
      <ul class="cart-list__container">
        <li>
          <h3>Выбранные товары</h3>
          <div>Количество</div>
          <div>Цена</div>
        </li>
        <div class="cart-list__items"></div>
      </ul>
    </div>
    <div class="cart__action">
      <div class="cart__subtotal"></div>
      <button class="btn">Оформить заказ</button>
    </div>
  </div>
</div> }}

<div class="layout-inner">
  <div class="cart">
    <div class="container">
      <div class="basket-table">
        <h1 class="title-page">Корзина</h1>
        <div class="basket__table">
          <div class="basket__table_header">
            <div class="basket__table_row">
              <div class="basket__table_cell basket__table_cell--name">
                <span class="basket__table_label">Товар</span>
              </div>
              <div class="basket__table_cell basket__table_cell--price">
                <span class="basket__table_label">Цена</span>
              </div>
              <div class="basket__table_cell basket__table_cell--count">
                <span class="basket__table_label">Количество</span>
              </div>
              <div class="basket__table_cell basket__table_cell--sum">
                <span class="basket__table_label">Сумма</span>
              </div>
              <div class="basket__table_cell basket__table_cell--remove"></div>
            </div>
          </div>
          <form id="cart-form" action="/cart/update" method="POST">
            <input type="hidden" name="_csrf"
              value="HiBHLgJdjW3VweSs1uMsU2i97hzwSkwEGm9ZLr4RxsJzUQZscC_GBJG0tJqkgXoXWYTcdKF7OEJqPClEz1WwmA==" />
            <div class="basket__table_body">
              <div class="basket__table_row table-product-{{id}}">
                <div class="basket__table_cell basket__table_cell--name">
                  <div class="basket__table_cell-row">
                    <div class="basket__table_position-img">
                      <img class="basket__table__img" src="{{image}}" alt="${{name}}" />
                    </div>
                    <div class="basket__table_position-body">
                      <a class="basket__table_position-link" href="/product?id={{id}}" data-pjax="0">{{name}}</a>
                    </div>
                  </div>
                </div>
                <div class="basket__table_cell basket__table_cell--price">
                  <span class="basket__table_text"><span class="item-price-{{id}}">{{price}}</span>
                    <span class="currency">₽</span></span>
                </div>
                <div class="basket__table_cell basket__table_cell--count">
                  <div class="spinner">
                    <div class="basket-count__minus spinner__action is-disabled">
                      <svg class="svg-sprite-icon icon-minus spinner__action_icon">
                        <use xlink:href="#minus"></use>
                      </svg>
                    </div>
                    <input type="number"
                      class="spinner__count count__current-calc g-input count__current current-count-143696"
                      name="Good[143696]" value="1" data-id="143696" />
                    <div class="basket-count__plus spinner__action">
                      <svg class="svg-sprite-icon icon-plus spinner__action_icon">
                        <use xlink:href="#plus"></use>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="basket__table_cell basket__table_cell--sum">
                  <span class="basket__table_text-bold">
                    <span class="raw-item-price-{{id}} raw-total-price-calc">{{price}}</span>
                    <span class="currency">₽</span>
                  </span>
                </div>
                <div class="basket__table_cell basket__table_cell--remove">
                  <div class="basket__table_remove">
                    <a href="/cart/remove/{{id}}" title="Удалить" class="remove-product" data-id="{{id}}">
                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001"
                        style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"></path>
                          </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </form>



          {{! <div class="basket__table_footer">
            <div>
              <div class="cart-description"><span class="exclamation-point">!</span>Точная стоимость доставки
                рассчитывается менеджером
              </div>
              <div class="cart-description"><span class="exclamation-point">!</span>Бесплатная доставка в пределах МКАД
                при заказе от 7000
                <span class="currency">₽</span>
              </div>
            </div>
            <div class="cart-table-buttons">
              <span class="basket__table_total-sum">Сумма:
                <span class="total-cart-price">585</span>
                <span class="currency">₽</span>
              </span>
              <br /><br />
              <a class="product-one-click popup-link" href="#one-click-order">Купить в 1 клик</a>
            </div>

            <div class="cart-table-coupons">

              <form id="cart-coupon-form" class="coupon-cart-form" action="/cart/add-coupon" method="POST">
                <input type="hidden" name="_csrf"
                  value="HiBHLgJdjW3VweSs1uMsU2i97hzwSkwEGm9ZLr4RxsJzUQZscC_GBJG0tJqkgXoXWYTcdKF7OEJqPClEz1WwmA==" />
                <div class="coupon-cart-row">
                  <div class="coupon-cart-form__fields">
                    <div class="form-group field-cartcouponform-code required">

                      <input type="text" id="cartcouponform-code" class="coupon-cart-form__field_group"
                        name="CartCouponForm[code]" placeholder="Введите промокод" aria-required="true" />

                    </div>
                    <button type="submit" class="btn btn-primary">Применить</button>
                  </div>
                </div>
                <div class="coupon-cart-row">
                  <div class="error-summary" style="display:none">
                    <ul></ul>
                  </div>
                </div>
              </form>
              <form id="cart-giftd-form" class="giftd-cart-form" action="/cart/add-gift" method="POST">
                <input type="hidden" name="_csrf"
                  value="HiBHLgJdjW3VweSs1uMsU2i97hzwSkwEGm9ZLr4RxsJzUQZscC_GBJG0tJqkgXoXWYTcdKF7OEJqPClEz1WwmA==" />
                <div class="giftd-cart-form__row">
                  <div class="giftd-cart-form__fields">
                    <div class="form-group field-cartgiftdform-code">

                      <input type="text" id="cartgiftdform-code" class="giftd-cart-form__field_group"
                        name="CartGiftdForm[code]" placeholder="Номер подарочной карты" />

                    </div>
                    <button type="submit" class="btn btn-primary">Применить</button>
                  </div>
                </div>

                <div class="giftd-cart-form__row">
                  <div class="error-summary" style="display:none">
                    <ul></ul>
                  </div>
                </div>

                <div class="giftd-cart-form__row">
                  <div>
                    <b>Внимание!</b>
                    Подарочной картой можно воспользоваться 1 раз.
                  </div>
                </div>

              </form>
            </div>
          </div> }}
        </div>
      </div>
    </div>
  </div>
</div>