{{!-- <li class="comments__item feedback">
  <div class="feedback__top-wrap">
    <div class="feedback__img-block">
      <a class="feedback__img-wrap img-plug" href="/profile/">
        <img
          class="feedback__img"
          src="{{avatar}}"
          width="40"
          height="40"
          alt="User avatar"
        />
      </a>
    </div>
    <div class="feedback__info">
      <a class="feedback__header" href="/profile/">{{username}}</a>
      <span class="feedback__date hide-mobile">{{date}}</span>

      <div class="feedback__wrap">
        <div class="info-card-comment__rate">
          <div class="info-card-rating__comment">{{rating}}</div>
          <span class="star__comment"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback__content">
    <p class="feedback__text">{{text}}
    </p>
  </div>
  <div class="basket__table_cell basket__table_cell--name">
    <div class="basket__table_cell-row">
      <div class="basket__table_position-img">
        <img class="basket__table__img" src="{{image}}" alt="${{name}}" />
      </div>
      <div class="basket__table_position-body">
        <a
          class="basket__table_position-link"
          href="/product?id={{id}}"
        >{{name}}</a>
      </div>
    </div>
  </div>
</li> --}}

<li>
  <div class="e1z0"><div class="e1z5"><div
        data-review-id="119464227"
        class="e2q9 e2s2"
      ><div class="e2r e2s4"><div class="e2s3"><span
              class="e3k0"
            >Опубликован<svg
                width="16"
                height="16"
                xmlns="http://www.w3.org/2000/svg"
                color="#10ad44"
                class="e3k1"
              ><g fill="none" fill-rule="evenodd"><path
                    d="M0 0h16v16H0z"
                  ></path><path
                    d="M13.293 3.293L6 10.586 2.707 7.293a1 1 0 10-1.414 1.414l4 4a.997.997 0 001.414 0l8-8a1 1 0 10-1.414-1.414z"
                    fill="currentColor"
                    fill-rule="nonzero"
                  ></path></g></svg></span></div><div class="e2v"><div
              class="e2v0"
            ><img src="{{image}}" alt="${{name}}" class="e2v2 ui-p1" /></div><a
              href="/product?id={{id}}"
              class="e2v3"
            >{{name}}</a></div><div class="e2v7 e2w1"><div
              class="e2v8"
            >{{date}}</div><div class="ui-ac0 ui-b9a ui-c0a e2w"><div
                class="ui-a9b ui-b9a"
              ><div class="rating__comment-reviews">{{rating}}</div>
                <div class="rating__star-reviews">
                  <span class="star"></span>
                </div>
                <div class="ui-ca0 ui-b9a"></div></div>
              <!----></div></div></div><div class="e2r0"><div class="e2r5"><div
            ></div></div><div class="e2u5 e2r6"><div class="e2u8"><div><span
                  class="e2u6"
                >{{text}}</span>
                <!----></div>
            </div></div></div><div class="e2x4 e2s0"><div class="e2x">
          </div>
        </div></div>
      <div class="e1z6"><div class=""></div></div></div></div>
</li>