<a  class="product__link-img" href="/product?id={{id}}" name="{{id}}">
  <div class="product__img-wrapper">
    <img class="product__img" src="{{image}}" alt="{{name}}" />
  </div>
</a>
<div class="product__content">
  <h3><a  class="product__link-name" href="/product?id={{id}}" name="{{id}}">{{name}}</a></h3>
  <div class="product__rating">
    rating
  </div>
  <div class="product__price">${{price}}/-</div>
</div>
