<li class="comments__item feedback">
  <div class="feedback__top-wrap">
    <div class="feedback__img-block">
      <div class="feedback__img-wrap img-plug">
        <img
          class="feedback__img"
          src="{{avatar}}"
          width="40"
          height="40"
          alt="User avatar"
        />
      </div>
    </div>
    <div class="feedback__info">
      <div class="feedback__header">{{username}}</div>
      <span class="feedback__date hide-mobile">{{date}}</span>

      <div class="feedback__wrap">
        <div class="info-card-comment__rate">
          <div class="info-card-rating__comment">{{rating}}</div>
          <span class="star__comment"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback__content">
    <p class="feedback__text">{{text}}
    </p>
  </div>
</li>