<br>
<div class="user-container">
   <img class="user-avatar" src="{{avatar}}"> 
  <span>{{username}}</span>
  <div class="info-card-rating">
    <div class="info-card-rating__rate">
      <span class="star"></span>
    </div>
    <div class="info-card-rating__text">{{rating}}</div>

  </div>
</div>
<div class="comment-text">{{text}}</div> 

{{!-- <div class="reviews" id="reviews-seller">
  <div class="reviews-inner">
    <div class="reviews-head">

      <span class="reviews-head__title">Отзывы</span>

      <div class="reviews-head__separator"></div>
    </div>

    <div class="reviews-body" id="reviews-seller-scroll">
      <div class="reviews-body-inner" id="reviews-seller-body">
        <div class="one-review" data-review-id="24">
          <div class="one-review-inner">

            <div class="one-review-head">
              <div class="one-review-head-inner">
                <div class="one-review-head-avatars">
                 {{!--  <img class="one-review-head-avatars__user" src="{{avatar}}" /> 
                </div>

                <div class="one-review-head-info">
                  <span class="one-review-head-info__user">{{username}}</span>
                </div>

                <div class="one-review-head-stat">
                  <div class="one-review-head-stat__star">
                    <span class="star"></span>
                  </div>
                  <div class="one-review-head-stat__rate">{{rating}}</div>
                </div>
              </div>
            </div>

            <div class="one-review-content" data-action="contentClick">
              <div class="one-review-content__text">{{text}}</div>
            </div>

            <div class="one-review__separator"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}